// @import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import 'scss/_colors.scss' ;
@import 'scss/_header.scss' ;
@import 'scss/_footer.scss' ;
@import 'scss/_home.scss' ;
body{
  width: auto;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

.container{
  max-width: 1960px;
  padding: 0 1rem;
  margin: 0 auto;
}

.red{
  color: $color_red;
}
