.navbar{
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
    background-color: $color_black;
    padding: 1.5rem;
    margin: 0 auto;
    &-logo{
        display: flex;
        align-items: center;
        &-icon{
            position: relative;
            height: 50px;
            width: 50px;
            background-color: red;
            border-radius: 30px;
            margin-right: 5px;
            padding: .3rem;

            &-body{
                position: absolute;
                top: 10px;
                height: 40px;
            }
            &-head{
                position: absolute;
                right: 14px;
                height: 10px;
            }
        }
        &-text{
            color: $color_red;
            font-size: 26px;
        }
    }

    &-link{
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-between;
        width: 80%;
        &-item{
            padding: 0 3rem;
            a{
                color: $color_white;
                text-decoration: none;
                font-size: 26px;
            }     
        }
    }
}