.content{
    display: flex;
    
    .navbar{
        background-color: $color_black;
        align-items: center;
        padding: 2rem;
        flex-wrap: wrap;
        position: relative;
        &-icons{
            list-style: none;
            color: $color_white;
            display: flex;
            flex-direction: column;
            padding: 0;
            &-item{
                color: black;
                padding: 1.5rem;
                margin-bottom: 1rem;
                background-color: $color_white;
                border-radius: 6px;
                position: relative;

                &-icon{
                    width: 26px;
                    &-large{
                        width: 30px;
                    }
                    &-xlarge{
                        width: 30px;
                    }
                    &-head{
                        position: relative;
                        width: 8px;
                        left: 9px;
                        top: 3px;
                        &-swim{
                            position: relative;
                            width: 8px;
                            left: 15px;
                            top: 10px;
                        }
                    }
                }
            }
        }
    }

    &-right{
        width: 100%;
        background-color: $color_white;
        color: $color_black;
        height: 100vh;
    }
}